div{
    text-align: center;
    color: white;
    font-size: larger;
    text-align: center;
    background:url("https://cdn.pixabay.com/photo/2020/04/16/11/12/background-5050209_960_720.png");
    width: 50%;
    font-family:'Segoe UI';
}

form{
    position: relative;
    top:20px;
    left:50px;
}

#btn{
    font-size: large;
    background-color: rgb(162, 0, 146);
    color: rgb(255, 255, 255);
}
